@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'SF Pro';
	src: url('./fonts/SF-Pro-Text-Light.otf');
	font-weight: 300;
}

@font-face {
	font-family: 'SF Pro';
	src: url('./fonts/SF-Pro-Text-Regular.otf');
	font-weight: 400;
}

@font-face {
	font-family: 'SF Pro';
	src: url('./fonts/SF-Pro-Text-Medium.otf');
	font-weight: 500;
}

@font-face {
	font-family: 'SF Pro';
	src: url('./fonts/SF-Pro-Text-Semibold.otf');
	font-weight: 600;
}

@font-face {
	font-family: 'SF Pro';
	src: url('./fonts/SF-Pro-Text-Bold.otf');
	font-weight: 700;
}


@font-face {
	font-family: 'SF Pro';
	src: url('./fonts/SF-Pro-Text-Black.otf');
	font-weight: 900;
}

body {
	font-family: 'SF Pro';
}

/* width */
.scrollBar-dark::-webkit-scrollbar {
	width: 10px;
}

/* Track */
.scrollBar-dark::-webkit-scrollbar-track {
	background: #595959;
	border-radius: 5px;
}

/* Handle */
.scrollBar-dark::-webkit-scrollbar-thumb {
	background: #0F0F0F;
	border-radius: 5px;
}

/* Handle on hover */
.scrollBar-dark::-webkit-scrollbar-thumb:hover {
	/* background: #555; */
}

pre,
code {
	white-space: pre-wrap !important;
	/* Since CSS 2.1 */
	white-space: -moz-pre-wrap !important;
	/* Mozilla, since 1999 */
	white-space: -pre-wrap !important;
	/* Opera 4-6 */
	white-space: -o-pre-wrap !important;
	/* Opera 7 */
	word-wrap: break-word !important;
	/* Internet Explorer 5.5+ */
}