@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		display: block;
		font-size: 2rem;
		line-height: 2.5rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}

	h2 {
		display: block;
		font-size: 1.5rem;
		line-height: 2rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}

	h3 {
		display: block;
		font-size: 1.17rem;
		line-height: 1.67rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}

	h4{
		display: block;
		font-size: 1rem;
		line-height: 1.5rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}

	h5{
		display: block;
		font-size: .83rem;
		line-height: 1.33rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}

	h6{
		display: block;
		font-size: .67rem;
		line-height: 1.17rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}

	.bot-response h1, 
	.bot-response h2, 
	.bot-response h3, 
	.bot-response h4, 
	.bot-response h5,
	.bot-response h6{
		margin: 1rem 0;
	}
}

@font-face {
	font-family: 'SF Pro';
	src: url('./fonts/SF-Pro-Text-Light.otf');
	font-weight: 300;
}

@font-face {
	font-family: 'SF Pro';
	src: url('./fonts/SF-Pro-Text-Regular.otf');
	font-weight: 400;
}

@font-face {
	font-family: 'SF Pro';
	src: url('./fonts/SF-Pro-Text-Medium.otf');
	font-weight: 500;
}

@font-face {
	font-family: 'SF Pro';
	src: url('./fonts/SF-Pro-Text-Semibold.otf');
	font-weight: 600;
}

@font-face {
	font-family: 'SF Pro';
	src: url('./fonts/SF-Pro-Text-Bold.otf');
	font-weight: 700;
}


@font-face {
	font-family: 'SF Pro';
	src: url('./fonts/SF-Pro-Text-Black.otf');
	font-weight: 900;
}

input:disabled{
	opacity: .5;
}

.write-box #text {
	line-height: 24px;
}

.write-box .pill{
	cursor: pointer
}

.write-box .return-box {
	/* background-image: url('./assets/return.svg'); */
	/* background-repeat: no-repeat; */
	/* background-position: center center; */
	/* width: 24px; */
	/* height: 24px; */
	/* margin-right: 4px; */
	margin-top: 4px;
	display: inline-block;
	@apply mx-0.5;


	border: 1px solid #DBDBDB;
	background-color: white;
}

.write-box .return-box-new {
	/* background-image: url('./assets/return.svg'); */
	/* background-repeat: no-repeat; */
	/* background-position: center center; */
	/* width: 24px; */
	/* height: 24px; */
	/* margin-right: 4px; */
	/* display: inline-block; */
	@apply py-1 mx-0.5 px-1.5 rounded font-bold;


	border: 1px solid #DBDBDB;
	background-color: white;
}

.user-message .pill {
	cursor: pointer;
}

.pill {
	@apply py-1 px-2 mx-0.5 bg-[#747474] rounded text-white text-sm;
	position: relative;
	padding-left: 24px;
}
.pill:before {
	content: '';
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;

	background-image: url('./assets/braces-light.svg');
	background-repeat: no-repeat;
	background-position: center;
	width: 24px;
	height: 24px;
}

.file-pill {
	@apply py-1 px-2 mx-0.5 bg-[#747474] rounded text-white text-sm;
	position: relative;
	padding-left: 24px;
}
.file-pill:before {
	content: '';
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;

	background-image: url('./assets/share-light.svg');
	background-repeat: no-repeat;
	background-position: center;
	width: 24px;
	height: 24px;
}


.input-form .write-button {
	@apply px-4 text-sm leading-6 font-bold cursor-pointer py-1 border-[#DBDBDB] border-b-0 border-b-white -mb-[1px] rounded-t;
}

.input-form .write-button.active {
	@apply border bg-[#FAFAFA] border-b-0;
}

.input-form .preview-button {
	@apply px-4 text-sm leading-6 font-bold cursor-pointer py-1 border-[#DBDBDB] border-b-0 border-b-white -mb-[1px] rounded-t;
}

.input-form .preview-button.active {
	@apply border bg-white border-b-0;
}

.write-box {
	@apply whitespace-pre-wrap w-full bg-[#FAFAFA] border overflow-auto rounded-tl-none rounded border-[#DBDBDB] focus:outline-none px-4 py-3 resize max-w-full min-w-full text-sm;
	line-height: 1.7rem;
}

.page-template .write-box,.page-template .preview-box {
	@apply max-h-[70vh];
}

.page-chat .message-box .write-box, .page-chat .message-box .preview-box{
	@apply max-h-full;
}

.page-start .write-box, .page-start .preview-box{
	@apply max-h-[60vh];
}

.page-chat .write-box,.page-chat .preview-box{
	@apply max-h-[156px];
}

.write-box:empty:before {
	content: attr(data-placeholder);
	display: block;
	color: #747474;

	pointer-events: none;
	user-select: none;
}

.write-box .return-box {
	position: relative;
}

.write-box .return-box:before {
	font-weight: 700;
	content: "↩";
}

.preview-box {
	@apply w-full bg-white border overflow-auto rounded-t-none rounded border-[#DBDBDB] focus:outline-none px-4 py-3 resize text-sm max-w-full min-w-full;
	line-height: 1.7rem
}

.preview-box .return-box, .preview-box .return-box-new {
	height: 24px;
	font-size: 14px;
	line-height: 24px;
	color: #747474;
	display: block;
	padding: 0 4px;

	border: 1px dotted #DBDBDB;
	border-radius: 4px;
	background-color: white;

	width: 70%;
}

.preview-box .return-box:before,
.preview-box .return-box-new:after {
	content: " Response is returned before proceeding to next prompt";
	/* padding: 4px 8px; */

}

.hover\:box-shadow:hover {
	box-shadow: 4px 0px 0px 0px #DBDBDB inset;
}

.box-shadow {
	box-shadow: 4px 0px 0px 0px #DBDBDB inset;
}

.templates-inline-list:empty:before {
	@apply text-sm leading-6;
	content: 'No templates found';
	color: #747474;

	display: block;
	text-align: center;
}

body {
	font-family: 'SF Pro';
}

.templatePreview span {
	background-color: transparent !important
}

.bot-response ul{
	list-style-type: disc;
}
.bot-response ol{
	list-style-type:decimal
}

.bot-response ul,
.bot-response ol {
	padding-left: 1rem;
}

.bot-response ul li,
.bot-response ol li {
	margin-bottom: 20px;
}

ul.tokens {
	padding-top: 0px;
}

ul.tokens li {
	margin-bottom: 0px;
}

.bot-response p {
	padding-bottom: 16px;
}

button[disabled] {
	opacity: .5
}

button:active:enabled {
	transform: translateY(2px) translateX(-2px);
}

button.btn-second{
	@apply text-[#595959] text-sm leading-6 font-bold bg-transparent py-2 px-4 rounded;
}
button.btn-second:active:enabled{
	box-shadow: 0 1.5px 4px #666 inset;
	transform: translateY(2px) translateX(-2px);
}


/* width */
.scrollBar-dark::-webkit-scrollbar {
	width: 8px;
}

/* Track */
.scrollBar-dark::-webkit-scrollbar-track {
	background: #595959;
	border-radius: 5px;
}

/* Handle */
.scrollBar-dark::-webkit-scrollbar-thumb {
	background: #0F0F0F;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	/* background: #555; */
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: white;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #747474;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	/* background: #555; */
}

pre,
code {
	white-space: pre-wrap !important;
	/* Since CSS 2.1 */
	white-space: -moz-pre-wrap !important;
	/* Mozilla, since 1999 */
	white-space: -pre-wrap !important;
	/* Opera 4-6 */
	white-space: -o-pre-wrap !important;
	/* Opera 7 */
	word-wrap: break-word !important;
	/* Internet Explorer 5.5+ */
}