@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		display: block;
		font-size: 2rem;
		line-height: 2.5rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}

	h2 {
		display: block;
		font-size: 1.5rem;
		line-height: 2rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}

	h3 {
		display: block;
		font-size: 1.17rem;
		line-height: 1.67rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}

	h4 {
		display: block;
		font-size: 1rem;
		line-height: 1.5rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}

	h5 {
		display: block;
		font-size: .83rem;
		line-height: 1.33rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}

	h6 {
		display: block;
		font-size: .67rem;
		line-height: 1.17rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}

	.bot-response h1,
	.bot-response h2,
	.bot-response h3,
	.bot-response h4,
	.bot-response h5,
	.bot-response h6 {
		margin: 1rem 0;
	}
}

@font-face {
	font-family: 'SF Pro';
	src: url('./fonts/SF-Pro-Text-Light.otf');
	font-weight: 300;
}

@font-face {
	font-family: 'SF Pro';
	src: url('./fonts/SF-Pro-Text-Regular.otf');
	font-weight: 400;
}

@font-face {
	font-family: 'SF Pro';
	src: url('./fonts/SF-Pro-Text-Medium.otf');
	font-weight: 500;
}

@font-face {
	font-family: 'SF Pro';
	src: url('./fonts/SF-Pro-Text-Semibold.otf');
	font-weight: 600;
}

@font-face {
	font-family: 'SF Pro';
	src: url('./fonts/SF-Pro-Text-Bold.otf');
	font-weight: 700;
}


@font-face {
	font-family: 'SF Pro';
	src: url('./fonts/SF-Pro-Text-Black.otf');
	font-weight: 900;
}

@font-face {
	font-family: 'SF Mono';
	src: url('./fonts/SFMonoLight.otf');
	font-weight: 300;
}

@font-face {
	font-family: 'SF Mono';
	src: url('./fonts/SFMonoRegular.otf');
	font-weight: 400;
}

@font-face {
	font-family: 'SF Mono';
	src: url('./fonts/SFMonoMedium.otf');
	font-weight: 500;
}

@font-face {
	font-family: 'SF Mono';
	src: url('./fonts/SFMonoSemibold.otf');
	font-weight: 600;
}

@font-face {
	font-family: 'SF Mono';
	src: url('./fonts/SFMonoBold.otf');
	font-weight: 700;
}


@font-face {
	font-family: 'SF Mono';
	src: url('./fonts/');
	font-weight: 900;
}

.mono {
	font-family: "SF Mono" !important;
}

input:disabled {
	opacity: .5;
}

.write-box #text {
	line-height: 24px;
}

.write-box .pill {
	cursor: pointer
}

.write-box .return-box {
	/* background-image: url('./assets/return.svg'); */
	/* background-repeat: no-repeat; */
	/* background-position: center center; */
	/* width: 24px; */
	/* height: 24px; */
	/* margin-right: 4px; */
	margin-top: 4px;
	display: inline-block;
	@apply mx-0.5;


	border: 1px solid #DBDBDB;
	background-color: white;
}

.write-box .return-box-new {
	/* background-image: url('./assets/return.svg'); */
	/* background-repeat: no-repeat; */
	/* background-position: center center; */
	/* width: 24px; */
	/* height: 24px; */
	/* margin-right: 4px; */
	/* display: inline-block; */
	@apply py-1 mx-0.5 px-1.5 rounded font-bold;


	border: 1px solid #DBDBDB;
	background-color: white;
}

.user-message .pill {
	cursor: pointer;
}

.user-message div {
	position: relative !important;
}

.pill {
	@apply py-1 px-2 mx-0.5 bg-[#747474] rounded text-white text-sm;
	position: relative;
	padding-left: 24px;
}

.pill:before {
	content: '';
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;

	background-image: url('./assets/braces-light.svg');
	background-repeat: no-repeat;
	background-position: center;
	width: 24px;
	height: 24px;
}

.file-pill {
	@apply py-1 px-2 mx-0.5 bg-[#747474] rounded text-white text-sm;
	position: relative;
	padding-left: 24px;
}

.file-pill:before {
	content: '';
	display: inline-block;
	position: absolute !important;
	left: 0;
	top: 0;

	background-image: url('./assets/share-light.svg');
	background-repeat: no-repeat;
	background-position: center;
	width: 24px;
	height: 24px;
}

.file-pill.google-pill:before {
	content: '';
	display: inline-block;
	position: absolute;
	left: 4px;
	top: 4px;

	background-color: white;
	border-radius: 4px;

	background-image: url('./assets/google-drive.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 12px 12px;
	width: 16px;
	height: 16px;
}

.pr-\[390px\] {
	padding-right: 390px;
}

.pr-\[460px\] {
	padding-right: 460px;
}

.custom-check input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 4px;
	height: 20px;
	width: 20px;
	border: 1px solid #DBDBDB;
	border-radius: 4px;
}

.custom-check {
	display: block;
	position: relative;
	margin-bottom: 18px;
	cursor: pointer;
	font-size: 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* On mouse-over, add a grey background color */
.custom-check:hover input~.checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-check input:checked~.checkmark {
	background-color: #747474;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.custom-check input:checked~.checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.custom-check .checkmark:after {
	width: 20px;
	height: 20px;
	background-image: url("./assets/check-white.svg");
	background-repeat: no-repeat;
	background-position: 3px 3px;
}

.input-form .write-button {
	@apply xl:px-4 px-1 text-sm leading-6 font-bold cursor-pointer py-1 border-[#DBDBDB] border-b-0 border-b-white -mb-[1px] rounded-t;
}

.response-template-input-form .write-button {
	@apply px-1 text-sm leading-6 font-bold cursor-pointer py-1 border-[#DBDBDB] border-b-0 border-b-white -mb-[1px] rounded-t;
}

.response-template-input-form .write-button.active {
	@apply border bg-[#FAFAFA] border-b-0;
}

.input-form .write-button.active {
	@apply border bg-[#FAFAFA] border-b-0;
}

.input-form .preview-button {
	@apply xl:px-4 px-2 text-sm leading-6 font-bold cursor-pointer py-2 xl:py-1 border-[#DBDBDB] border-b-0 border-b-white -mb-[1px] rounded-t;
}

.response-template-input-form .preview-button {
	@apply px-2 text-sm leading-6 font-bold cursor-pointer py-2 border-[#DBDBDB] border-b-0 border-b-white -mb-[1px] rounded-t
}

.response-template-input-form .preview-button.active {
	@apply border bg-white border-b-0;
}

.input-form .preview-button.active {
	@apply border bg-white border-b-0;
}

.write-box {
	@apply whitespace-pre-wrap w-full bg-[#FAFAFA] border overflow-auto rounded rounded-tl-none border-[#DBDBDB] focus:outline-none px-4 py-3 resize max-w-full min-w-full text-sm;
	line-height: 1.7rem;
}

.smart-inline-template-shadow {
	-webkit-box-shadow: 0px -17px 28px -6px;
	-moz-box-shadow: 0px -17px 28px -6px;
	box-shadow: 0px -17px 28px -6px;
}

.shadow-2xl-smart-inline {
	--tw-shadow: 0 -16px 50px -12px rgb(0 0 0 / 0.25);
	--tw-shadow-colored: 0 -16px 50px -12px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.page-template .write-box,
.page-template .preview-box {
	@apply max-h-[70vh];
}

.page-chat .message-box .write-box,
.page-chat .message-box .preview-box {
	@apply max-h-full;
}

.page-start .write-box,
.page-start .preview-box {
	@apply max-h-[60vh];
}

.page-chat .write-box,
.page-chat .preview-box {
	@apply max-h-[156px];
}

.write-box:empty:before {
	content: attr(data-placeholder);
	display: block;
	color: #747474;

	pointer-events: none;
	user-select: none;
}

.write-box .return-box {
	position: relative;
}

.write-box .return-box:before {
	font-weight: 700;
	content: "↩";
}

.preview-box {
	@apply w-full bg-white border overflow-auto rounded-t-none rounded border-[#DBDBDB] focus:outline-none px-4 py-3 resize text-sm max-w-full min-w-full;
	line-height: 1.7rem
}

.preview-box .return-box,
.preview-box .return-box-new {
	height: 24px;
	font-size: 14px;
	line-height: 24px;
	color: #747474;
	display: block;
	padding: 0 4px;

	border: 1px dotted #DBDBDB;
	border-radius: 4px;
	background-color: white;

	width: 70%;
}

.preview-box .return-box:before,
.preview-box .return-box-new:after {
	content: " Response is returned before proceeding to next prompt";
	/* padding: 4px 8px; */

}

.hover\:box-shadow:hover {
	box-shadow: 2px 0px 0px 0px #747474 inset;
}

.box-shadow {
	box-shadow: 2px 0px 0px 0px #747474 inset;
}

.templates-inline-list:empty:before {
	@apply text-sm leading-6;
	content: 'No templates found';
	color: #747474;

	display: block;
	text-align: center;
}

body {
	font-family: 'SF Pro';
	@apply mr-5
}


.templatePreview span {
	background-color: transparent !important
}

.bot-response table {
	@apply border border-[#DBDBDB] rounded-lg border-collapse border-spacing-3 w-full mb-4
}

.bot-response table td {
	border-bottom-width: 1px;
	border-left-width: 1px;

	@apply p-1.5;
}

.bot-response table thead tr {
	@apply bg-[#DBDBDB]
}

.bot-response table tr {
	@apply bg-[#FAFAFA]
}

.bot-response table th {
	border-left-width: 1px;
	border-left-color: #FAFAFA;
	@apply text-left p-1.5
}

.bot-response table th:first-child {
	border-left-width: 1px;
	border-left-color: #DBDBDB;
	@apply text-left p-1.5
}

.bot-response ul {
	list-style-type: disc;
	padding-bottom: 16px
}

.bot-response ol {
	list-style-type: decimal;
	padding-bottom: 16px
}

.bot-response ul,
.bot-response ol {
	padding-left: 1rem;
}

.bot-response ul li,
.bot-response ol li {
	margin-bottom: 5px;
}

.bot-response ul li p,
.bot-response ol li p {
	padding-bottom: 0;
}

ul.tokens {
	padding-top: 0px;
}

ul.tokens li {
	margin-bottom: 0px;
}

.bot-response p {
	padding-bottom: 16px;
}

.bot-response a {
	text-decoration: underline;
}

button[disabled] {
	opacity: .5
}

button:active:enabled {
	transform: translateY(2px) translateX(-2px);
}

button.btn-second {
	@apply text-[#595959] text-sm leading-6 font-bold bg-transparent py-2 px-4 rounded;
}

button.btn-second.light-gray {
	@apply text-[#DBDBDB] text-sm leading-6 font-bold bg-transparent py-2 px-4 rounded;
}

button.btn-second:active:enabled {
	box-shadow: 0 1.5px 4px #666 inset;
	transform: translateY(2px) translateX(-2px);
}

.inputtext {
	@apply p-2 text-sm leading-6 bg-[#FAFAFA] text-[#202020] border border-[#DBDBDB] rounded-[4px] focus:outline-none placeholder:text-[#747474]
}

.inputtext-url {
	@apply p-2 text-sm leading-6 bg-[#FAFAFA] text-[#202020] border border-[#DBDBDB] rounded-[4px] rounded-r-none focus:outline-none placeholder:text-[#747474]
}

.inputtext.wrong {
	@apply border-[#EF4444]
}

select {
	@apply p-2 appearance-none w-full text-sm leading-6 border border-[#DBDBDB] rounded-[4px] bg-[#FAFAFA] focus:outline-none
}

option[value=""] {
	@apply text-[#747474]
}

.truncate-custom {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.truncate-custom:hover {
	overflow: visible;
	white-space: normal;
}


/* width */
.scrollBar-dark::-webkit-scrollbar {
	width: 8px;
}

/* Track */
.scrollBar-dark::-webkit-scrollbar-track {
	background: #595959;
	border-radius: 5px;
}

/* Handle */
.scrollBar-dark::-webkit-scrollbar-thumb {
	background: #0F0F0F;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	/* background: #555; */
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: white;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #747474;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	/* background: #555; */
}

.custom-grid {
	align-content: start;
	inline-size: 320px;
	block-size: 100dvh;
	display: grid;
	overflow: hidden;
}

.no-scrollbar {
	scrollbar-width: none;
	/* For Firefox */
	-ms-overflow-style: none;
	/* For Internet Explorer and Edge */
}

.fadeBottom {
	pointer-events: none;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	transition: opacity 200ms, width 1ms;

	/* border: 1px solid red; */
	background: linear-gradient(180deg, rgba(32, 32, 32, 0) 0%, #202020 100%);
}

.fadeBottom.hid {
	transition: opacity 200ms, width 1ms 300ms;
	opacity: 0;
	width: 0;
}

.fadeTop {
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 85px;
	opacity: 1;
	transition: opacity 200ms, width 1ms;

	/* border: 1px solid red; */
	background-image: linear-gradient(180deg, #202020, rgba(32, 32, 32, 0) 100%);
}

.fadeTop.hid {
	transition: opacity 200ms, width 1ms 300ms;
	opacity: 0;
	width: 0;
}

[data-testid="virtuoso-item-list"]>div:first-child>div {
	/* border: 1px solid red; */
}

.no-scrollbar::-webkit-scrollbar {
	/* For Chrome, Safari, and Opera */
	display: none;
}

pre,
code {
	white-space: pre-wrap !important;
	/* Since CSS 2.1 */
	white-space: -moz-pre-wrap !important;
	/* Mozilla, since 1999 */
	white-space: -pre-wrap !important;
	/* Opera 4-6 */
	white-space: -o-pre-wrap !important;
	/* Opera 7 */
	word-wrap: break-word !important;
	/* Internet Explorer 5.5+ */
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 32px;
	height: 20px;

	border: 1px solid #747474;
	border-radius: 16px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 14px;
	width: 14px;
	top: 2px;
	left: 2px;
	background-color: #747474;
	-webkit-transition: .4s;
	transition: transform .4s;
}

input:checked+.slider {
	background-color: #595959;
}

input:focus+.slider {
	box-shadow: 0 0 1px #595959;
}

input:checked+.slider:before {
	-webkit-transform: translateX(11.5px);
	-ms-transform: translateX(11.5px);
	transform: translateX(11.5px);

	background-color: white;

	height: 18px;
	width: 18px;
	top: 0px;
	left: 1px;

	background-image: url("./assets/check.svg");
	background-position: center center;
	background-size: 12px 12px;
	background-repeat: no-repeat;
}

/* Rounded sliders */
.slider.round {
	border-radius: 16px;
}

.slider.round:before {
	border-radius: 50%;
}

.tooltip {
	position: relative;
}

.tooltip .tooltiptext {
	visibility: hidden;

	max-width: 700px;

	padding: 4px 8px;
	bottom: 120%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #202020;
	color: white;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	border-radius: 4px;
	position: absolute;
	z-index: 99;
}

.freetooltip {
	/* visibility: hidden; */

	padding: 4px 8px;
	transform: translateX(-50%);
	background-color: #202020;
	color: white;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	border-radius: 4px;
	position: fixed;
	z-index: 99;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.provider-drop-shadow {
	box-shadow: 0px 0px 4px 0px #FAFAFA;
}

@media (max-width: 960px) {

	/* … */
	.side-bar-shadow.active {
		box-shadow: 0px 0px 1px 0px #0000004F;

		box-shadow: 8px 0px 12px 0px #00000026;

	}
}

.write-box ol,
.preview-box ol,
.user-message ol {
	list-style-type: decimal;
	padding-left: 1rem;
}

.write-box ul,
.preview-box ul,
.user-message ul {
	list-style-type: circle;
	padding-left: 1rem;
}

.user-message span[contenteditable="true"] {
	@apply pointer-events-none
}